.containerControls {
    float: none;
    margin: auto;
    padding-top: 5%;
}

.centerForm {
	margin: 0 auto;
	width: 50%;
}

.halfSize {
	width: 50%;
}

.input-spacing {
    width: 100%;
    margin: 8px 0px;
    padding: 8px;
}

#login-selector {
	display: none;
}

#register-selector {
	display: none;
}

.navBarForm {
	text-align: right;
	float: right;
	padding-top: 8px;
}

/* Media Breakpoints */

