/* Global */
.bg-pw-light {
	background-color: #e2e2e2;
}

/* Home Page */
.containerControls {
    float: none;
    margin: auto;
    padding-top: 5%;
}

.centerForm {
	margin: 0 auto;
	width: 50%;
}

.halfSize {
	width: 50%;
}

.input-spacing {
    width: 100%;
    margin: 8px 0px;
    padding: 8px;
}

.login-register-forms {
	margin: 0px;
}

#login-selector {
	display: none;
}

#register-selector {
	display: none;
}

/* Tracking Page */


/* Media Breakpoints */

