/* Global */
.bg-pw-light {
	background-color: #e2e2e2;
}

/* Home Page */
.containerControls {
    float: none;
    margin: auto;
    padding-top: 5%;
}

.centerForm {
	margin: 0 auto;
	width: 50%;
}

.halfSize {
	width: 50%;
}

.input-spacing {
    width: 100%;
    margin: 8px 0px;
    padding: 8px;
}

.login-register-forms {
	margin: 0px;
}

#login-selector {
	display: none;
}

#register-selector {
	display: none;
}

/* Tracking Page */
.btn-text-wrap {
	white-space: normal;
}

.bg {
	background-color: #e2e2e2;
}

/* Media Breakpoints */
@media (max-width: 992px) {
	/* Keep containers fluid for md */
	.container {
		max-width: none;
	}
}

@media (min-width: 992px) {
	.bg-lg-only {
		background-color: #e2e2e2;
	}
	
	.container {
		max-width: 1000px;
	}
}
